* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

.ocultarestilo1{
    
    position: relative;
    border: 3px solid black; 
    width: 100%;
    height: 12vh;
    background-color: black;
    
}

.sitio{
    /* border:3px solid black; */
    width: 30%;
    height:50px;
    position:relative;
    margin-top:-40px;
    margin-left: 450px;
    color: silver;
    font-size:  15px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

}
p{
    color: rgb(203, 243, 255);
}
.redes{
    /* border: 3px solid red; */
    width: 300px;
    height:60px;
    float: right;
    margin-top:-72px;
    margin-right:10px;
    display:inline;
}

.redico1,.redico2,.redico3{
    position: relative;
    width: 50px;
    float: right;
    border:3px solid silver; 
 
}
.redico1{
    background-color: turquoise;
    border-radius: 50%;
}
.redico2{
    background-color: violet;
    border-radius: 50%;
}
.redico3{
    background-color: blue;
    border-radius: 50%;
}

.liga{
    /* border: 3px solid red; */
    margin-top: 55px;
}
.titulo{
    width: 100%;  
    height:10vh;  
    border: 5px solid silver;
    background-color: silver;
}
h1{
    margin-left: 31%;
    margin-top:10px;
    
}

.ocultarestilo1b{
    width: 100%;
    height: 10vh;
    border-top: 5px solid aliceblue;
    background-color: aliceblue;
    border-bottom: 3px solid aliceblue;
    
}

nav{
    margin-left: 440px;
    font-size: 25px;
    margin-top:12px;
    
}

a{
    text-decoration: none;
    margin: 10px;
}
.ocultarestilo2{
    display: none;

}
.ocultarestilo1c{
    display: none;

}
.l{
    color:silver;
    font-style: bold;
    display: block;
    margin-top:15px;
}

main{
    background-color: black;
}


#eventos{
    width: 100%;    
    background-color: rgb(171, 210, 244);
    border: 5px solid rgb(171, 210, 244);
}

h2{
    margin-left: 515px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#log{
    width: 60px;
    height: 60px;
    margin-top: -60px;
    margin-bottom: 3px;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.833);
    filter: brightness(120%);
    border: 4px solid black;
   
}



.logo{
    margin-top: -40px;
}

.oculto3{
    display: none;
}

.contener_todo{
    width: 100%;
    height: 750px;
    border: 3px solid;
    border-top: 3px solid  rgb(171, 210, 244);
    
}

.text{
    width: 100%;
    height: 420px;
    border: 5px solid black;
    border-top:5px solid  rgb(171, 210, 244);
       
    text-align: justify;   
    background-image: url(./img/design1_image2.jpg);
    background-attachment: fixed;
}
.y{
    -webkit-text-stroke:rgba(243, 179, 248, 0.972); 
    display: inline-block;  
    padding: 5%; 
    font-size: 25px;
    font-family: sans-serif;
    
    
}

h3{
    color:rgba(243, 179, 248, 0.972);  
    display: inline-block;
    font-family: sans-serif; 
    font-size: 30px; 
}

/* galeria */



.im{    
    display:inline;
    width: 30%;
    height:250px;;
    padding: 3%;
    align-items: center;
    margin-left: 30px;
    
}
.galeria:hover .im{-webkit-transform:scale(1.3);transform:scale(1.3);
}
.galeria {overflow:hidden;}
 

