* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
    background-color: white;
}

.ocultarestilo2{
    display: none;
}

header{
    display: block;  
   
    
    
}

#banner{
    width: 100%;
    height: 50vh;
    margin-top: -18px;
    position: sticky;
    top: 0px;
    
    
    
}

.titulo{
    font-size: xx-large;
    z-index: 5;
    position: sticky;
    top: 0px;
    /* position: sticky;
    top: 0px; */
        
}


.cnav{
    position: relative;
    float: right;
    
    margin-right: 80px;
    margin-top:-5px;
    position: sticky;
    top: 0px;
    z-index: 5;
    
    
}


.ocultarestilo1b{
    position:relative;
    margin-top: 50px;
    width:260px;
    display: inline;
    
    

}


a{
    border: 3px solid black;
    margin: 5px;
    
    font-size: 25px;
    text-decoration: none;
    cursor:crosshair;
    background-color:lightblue;
                
}

#eventos{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    text-align: center ;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: 5px solid black;
    margin-top: -5px;
    position: sticky;
    top: 0px;
    z-index: 1;
    
}


.Logo{
    
    width: 20%;
    height:207px;
    position: relative;
    margin-top:150px;
    z-index: 0;



}

#log{
    border:4px solid black;
}

.text{
    
    width: 60%;
    float: right;
    font-size: 25px;
    margin-top: -242px;
    margin-right: 15%;
    height: 500px;
    
}

.Fecha{
    padding: 5%;
}


/*Contacto */

.contacto{
    width: 80%;
    height: 100px;
    
    display: flex;
    display: block;
    font-size:medium;
    font-style: normal;
    font-weight: bold;
    
    margin-left: 25%;
    margin-top: -260px;
    padding:4%;


}

.t1{
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 30px;
}


.t2{
    margin-top:50px;
    font-size: 30px;
}



.galeria{
    display: none;
}

.ocultarestilo1{
    display: none;
}

.ocultarestilo1c{
    position: sticky;
    top: 0px;
    z-index: 2;

}