* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    width: 100%;
    height:1600px;
}

/* PARTE SUPERIOR DE LA PAGINA  */


header{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 40vh;
    background-color: antiquewhite;
    position: sticky;
    top:0px;
    
    

}

.BARRAALTA,.BARRACENTRO{
    
    width: 100%;
    height: 15vh;
    
}

.BARRAALTA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: azure;
    background-color:black;
    
    
    
}

h1{
    margin-left: 85px;
}

.logo{
    width: 70px;
    height: 70px;
}

.redico1,.redico2,.redico3{

    width: 50px;
    float: right;

}

.redico1{
    background-color: turquoise;
    border-radius: 50%;
}
.redico2{
    background-color: violet;
    border-radius: 50%;
}
.redico3{
    background-color: blue;
    border-radius: 50%;
}







/* PARTE SUPERIOR DE LA PAGINA  PARTE MEDIA */

.BARRACENTRO{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
    
}

nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(37, 37, 37);
    align-items: center;
    font-size: 25PX;
    

}
a{
    color: aliceblue;
    text-decoration: none;
}

/* PARTE SUPERIOR DE LA PAGINA  PARTE baja */
.BARRABAJA{
    width: 100%;
    height: 10vh;
    background-color: azure;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    font-size:20px;
    
}

/*  parte central de la pagina                    */
main{
    background-color:white;
    
    width:100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}

.contener_titulos{
    
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    
}
.gameinfo2{
    font-size: 30px;

}

.schedule{
    
    display: flex;
    align-content: flex-start;
    
    width: 100%;
    height: 30px;
}


/* ......................... tabla .................................... */

.contener_tabla{
    width:90%;
    height: 400px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.table{
    display: flex;   
    width: 100%;
    height: 25%;
    
    
}

th, td {
    width: 296px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    height: 32px;  
    font-size:20px ;     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.saturday{
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 20px;
    align-items: flex-start;
}

thead{
    background-color: aqua;
    font-size: 18px;   
        
}




/*  datos debajo de  la  tabla .........................*/

.mas_info{
    width: 90%;
    height: 200px;
    
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    
}

.mailnumber{
    display: flex;
    
    justify-content: space-between;

}


/* .........   ,,, aca van los mapas....,...........*/

.Ubicacion{
    display: flex;
    width: 100%;
    height: 35px;
    
    flex-direction: column;
    margin-bottom: 350px;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    font-size: 25px;

}

.mapas{
    width: 100%;
    height: 800px;
    border: 3px solid black;
    background-color:black;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 2%;
    
}
.ubicar{
    width:100%;
    height: 50px;
    display: flex;    
    justify-content:  center;
    align-content: center;
    font-size: 25px;
    color: white;
}

.mapa1{
    display: flex;
    width: 80%;
    height: 300px;
    background-color:black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;


}