* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body{
    
    width: 100%;
    
}

/* PARTE SUPERIOR DE LA PAGINA  */


header{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 40vh;
    background-color: antiquewhite;
    position: sticky;
    top:0px;
    
    

}

.BARRAALTA,.BARRACENTRO{
    
    width: 100%;
    height: 15vh;
    
}

.BARRAALTA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: azure;
    background-color:black;
    
    
    
}

h1{
    margin-left: 85px;
}

.logo{
    width: 70px;
    height: 70px;
}

.redico1,.redico2,.redico3{

    width: 50px;
    float: right;

}

.redico1{
    background-color: turquoise;
    border-radius: 50%;
}
.redico2{
    background-color: violet;
    border-radius: 50%;
}
.redico3{
    background-color: blue;
    border-radius: 50%;
}







/* PARTE SUPERIOR DE LA PAGINA  PARTE MEDIA */

.BARRACENTRO{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
    
}

nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(37, 37, 37);
    align-items: center;
    font-size: 25PX;
    

}
a{
    color: aliceblue;
    text-decoration: none;
}

/* PARTE SUPERIOR DE LA PAGINA  PARTE baja */
.BARRABAJA{
    width: 100%;
    height: 10vh;
    background-color: azure;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    font-size:20px;
    
}

/*  parte central de la pagina                    */
main{
    background-color: black;
    width: 100%;
    height: 1700px;
}

.main2{
    background-color:white;
    
    width:100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}

.contener_titulos{
    
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    
}
.gameinfo2{
    font-size: 30px;

}

.schedule{
    
    display: flex;
    align-content: flex-start;
    
    width: 100%;
    height: 30px;
}


/* ......................... tabla .................................... */

.contener_tabla{
    width:90%;
    height: 400px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.table{
    display: flex;   
    width: 100%;
    height: 25%;
    
    
}

th, td {
    width: 296px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    height: 32px;  
    font-size:20px ;     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.saturday{
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 20px;
    align-items: flex-start;
    color: #0044ff;
}

thead{
    background-color: aqua;
    font-size: 18px;   
        
}




/*  datos debajo de  la  tabla .........................*/

.mas_info{
    width: 90%;
    height: 200px;
    
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    
}

.mailnumber{
    display: flex;
    
    justify-content: space-between;

}


/* .........   ,,, aca van los mapas....,...........*/

.Ubicacion{
    display: flex;
    width: 100%;
    height: 35px;
    
    flex-direction: column;
    margin-bottom: 350px;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    font-size: 25px;

}

.mapas{
    width: 100%;
    height: 800px;
    border: 3px solid black;
    background-color:black;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 2%;
    
}
.ubicar{
    width:100%;
    height: 50px;
    display: flex;    
    justify-content:  center;
    align-content: center;
    font-size: 25px;
    color: white;
}

.mapa1{
    display: flex;
    width: 80%;
    height: 300px;
    background-color:black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;


}

/*MODIFICAR ESTILOS  PARA HACERLOS FLEX */

.main1{
    background-color: black;
    height: 750px;


}


.contener_todo{
    width: 100%;
    height: 1000px;
    background-color:black;
    display: flex;
    flex-direction: column;
}

.text{
    width: 100%;
    height: 650px;
       
       
    background-image: url(../img/oscu.jpg);
    background-attachment: fixed;
    background-blend-mode: color-burn;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
    color: white;
       
    -webkit-text-stroke-width: 1px;
          
    -webkit-text-stroke-color: #a1d3fc;
     text-shadow: -3px 0px #0044ff;
     
    
    
}   


.Fecha{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: x-large;
}


/* contacto */

.t1,.t2{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(117, 250, 255);
} 

.contacto{
    width: 100%;
    height: 350px;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*--------- index-------------------*/
.galeria{
    width: 100%;    
    height:450px ;
    display: flex;
    color: wheat;
    font-size: 35px;
    flex-direction: column;
    align-items: center;
    

    
    
    
}


.galerias{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    
}
.fotos{
    width: 100%;
    height: 350px;
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.im{    
    /* display:inline; */
    width: 25%;
    height:250px;;
    /* padding: 3%;
    align-items: center;
    margin-left: 30px; */
   
}
.galeria:hover .im{-webkit-transform:scale(1.3);transform:scale(1.3);
}
.galeria {overflow:hidden;}
 
.Fecha{
    padding: 2%;
}

p{
    font-size: 20px;
    color: rgb(117, 250, 255);
    opacity: 10.0;

}


/*----------------RULES--------------*/

.contenergameinfo{
    
    background-color: gray;
        
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
    
}


section{
    background-color: white;
    border-style: double;
    border-width: 15px;
    border-color: goldenrod;
    
   
    display: flex;
    width: 85%;
    height: 900px;
    padding: 5%;
    
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: space-between;
    text-indent: 10px;
    
}


.reglas{
    color: black;
}

.listanegra{
    color: black;
    font-style: bold;

}

.letras{
    margin-left: 15px;
    
}


/*-------------formulario----------- */

.formulario{
    width: 100%;
    height: 1500px;
    background-color: papayawhip;
    padding: 3%;
    display: flex;
    flex-direction: column;

    
    
}

.formufin{
    color: black;
}

@media screen {
    
    
}