* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:black;
    height: 3000px;
}
/*.......................H-E-A-D-E-R
Parte SUPERIOR*/

header{
    display: flex;
    background-color: gainsboro;
    width: 100%;
    height: 24vh;
    position: sticky;
    top: 0px;
    
}

.contenedor_barra{
    
    background-color:black;
    width: 100%;
    height: 15vh;    
}

.barra_superior{
    margin-top: 3vh;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    
}
h1{
    color:gold;
    font-family: ;
    font-size: 35px;
    width: 75;
}
.sitio{
       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}
.oficial{
    
    color:violet;
    display: flex;
    font-size: 20px;
    font-variant: small-caps;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#log{
    
    width: 60px;
    height: 60px;
    
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.833);
    filter: brightness(120%);
    border: 2px solid slategray;
}

.redico1,.redico2,.redico3{
    
   
    width: 50px;
    float: right;
    border:3px solid silver; 
 
}
.redico1{
    background-color: turquoise;
    border-radius: 50%;
}
.redico2{
    background-color: violet;
    border-radius: 50%;
}
.redico3{
    background-color: blue;
    border-radius: 50%;
}

/*.....................H-E-A-D-E-R
Parte iNFERIOR*/

.barra_inferior{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color:black;
    align-items: center;
    font-size: 25PX;
    border-top: 1px solid silver;
    border-bottom:  1px solid silver;
    
       
}

a{
    text-decoration: none;
    color: aqua;
}
.nombre_html{
    background-color:white;    
    display: flex;    
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
    height: 10vh;
    border-bottom: 5px solid black;
    border-top: 1px solid silver;

   
    
}
.subtituloRules{
    display: flex;
    font-size: xx-large;
    /* margin-right: 95px; */
    
     
    

}
/* CUERPO DE RULES */

.contenergameinfo{
    
    background-color: gray;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
    
}

.algo{
    display: flex;
    display: column;
    align-items: center;
    justify-content: center;
    margin-top: -40%;
}
section{
    background-color: white;
    border-style: double;
    border-width: 15px;
    border-color: goldenrod;
    
    margin-left: 15px;
    margin-right:15px ;
    display: flex;
    width: 70%;
    height: 900px;
    padding: 5%;
    
    
    align-items: center;
    flex-direction: column;  
    justify-content: space-between;
    text-indent: 10px;
    
}


.reglas{
    color: black;
}

.listanegra{
    color: black;
    font-style: bold;

}

.letras{
    margin-left: 15px;
    
}
a{
    
}

.table{
    display: flex;   
    width: 100%;
    height: 25%;
    
}

th, td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
        border-collapse: collapse;       
        
}

thead{
    background-color: aqua;
    font-size: 20px;
        
}

tbody{
    background-color: wheat;
    margin-bottom: 150px;
}

.final{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -25%;
    margin-bottom: +10%;
}

.masInfo2{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.Ubicacion{
    display: flex;
    width: 100%;
    height: 35px;
    
    flex-direction: column;
    margin-bottom: 350px;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    font-size: 25px;

}
.ubicacionev{
    color: white;

}

.m1,.m2,.m3,.m4,.m5,.m6{
    background-color: aqua;
    margin: 5px;
    width: 300px;
    height: 300px;
    display: block;
    color: aliceblue;
}


.mapas{
    display: flex;
    width: 100%;
    height: 750px;
    background-color: black;
    justify-content: center;
    margin-top: -350px;

}
.mapa1{
    display: flex;
    width: 80%;
    height: 700px;
    background-color:black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}