* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
header{
    position: sticky;
    top:0px;
    margin-bottom: 10px;
    z-index: 1;

}

.ocultarestilo1{
    display: none;
}
.ocultarestilo1b{
    display: none;

    
}

.titulo{   
    -webkit-text-stroke:#fff .9px; 
    color:black ;
    border: 5px solid white;
    font-size: x-large;
    width: 100%;
    height: 250px;
    background-size : 100%;
    background-image:url(./img/fotoefectos.com_.jpg) ;
    background-repeat: no-repeat;
    background-position: center;   
}
#eventos{
    width: 100%;
    height: 50px;
    padding-top: 10px;
    text-align: center ;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    z-index: 0;
    
}

#log{
    background-color: white;   
    border: black 1px solid;
    width: 150px;

    position: sticky;
    margin-top: -104px;
    margin-left: 75%;
    
}

.cnav{
    position: fixed;
    width: 20%;
    margin-top: 26px;
    
}


nav,a{
    margin-left: 5px;
        
    display: block;    
    width: 20%;
    height:150px ;
    margin-top: -45.5px;
    
    
   

}
a{
    cursor:pointer;
}

.contener_todo{
    
    width: 100%;    
    margin-top: 120px;
    z-index: 0;


}

.text{
    /*border: solid black 5px;*/
    width: 80%;
    height: 150px;
    position: relative;
    left: 21%;
    margin-top: -165px;

}

.Fecha{
    margin-top: 10px;
    display: block;
    padding: 3%;
    
    
    
    
    
}

/*Contacto */

.contacto{
    width: 80%;
    height: 100px;
    
    display: flex;
    display: block;
    font-size:medium;
    font-style: normal;
    font-weight: bold;
    
    margin-left: 25%;
    margin-top: -10px;


}

.t1{
    margin-bottom: 30px;
    margin-top: 5px;
}


.t2{
    margin-top:50px;
}

.ocultarestilo1c{
    display: none;
}

.galeria{
    display: none;
}



